/Lesson30.xcodeproj/xcuserdata/Mac.xcuserdatad/xcschemes/xcschememanagement.plist
/Lesson30.xcodeproj/project.xcworkspace/xcuserdata/Mac.xcuserdatad/UserInterfaceState.xcuserstate
/Lesson30.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
/Lesson30.xcodeproj/project.xcworkspace/contents.xcworkspacedata
